
#slider_container {
position:relative;



}
.sliderbutton {float:left; width:25px; height:235px; cursor:pointer}
#slideleft {background:url(../img/arrow_left.png) 0px 90px no-repeat}
#slideleft:hover {

}
#slideright {background:url(../img/arrow_right.png) 0 90px no-repeat}

#slider {
	float:left;
	position:relative;
	overflow:auto;
	width: 95%;
	height:235px;
}
#slider ul {position:absolute; list-style:none; top:0; left:0}
#slider li {
	float:left;
	width: 990px;
	height:235px;
}
.pagination {
display: none;
	position:absolute; top:40px; right:61px; list-style:none; height:25px}
.pagination li {float:left; cursor:pointer; height:8px; width:8px; background:#ccc; margin:0 4px 0 0; border:1px solid #fff}
.pagination li:hover, li.current {background:#fff}

.slider{
    width: 428px;
    height: 240px;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.slider ul li .photo{
	float:left;
}
.slider ul li .text{
	background-color: #fff;
    border: 2px solid #dadada;
	padding: 23px;
	padding-bottom: 13px;


	position: relative;
    float: left;
    width: 600px;
    margin-left: 45px;
    font-size: 8pt;
}

.slider ul li .text h4{
	font-family: "Lato Bold";
	font-size: 18px;
	color:#208d6e;
}

.slider ul li p{
	font-family: "Lato Light";
	font-size: 9pt;
}

.slider ul li p span{
	font-family: "Lato Regular";
	font-size: 16px;
}

.slider li{
	width: 170px;
    height: 240px;
    overflow: hidden;
    float: left;
    margin: 0 22px;
    list-style: none;
    background: url('../img/zoom.png') no-repeat center center #000000;
    cursor: pointer;
}

.slider li:first-child{
    margin-left: 0px;
}

.previ-slide {
    position: absolute;
    top: 200px;
    left: 735px;
    width: 18px;
    height: 46px;
    background: url('../img/arrow_prev.png') no-repeat;
}

.nexti-slide {
    position: absolute;
    top: 200px;
    right: 110px;
    width: 18px;
    height: 46px;
    background: url('../img/arrow_next.png') no-repeat;
}